<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tablica</title>
    <link href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css" rel="stylesheet">
</head>
<body>
    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <h1 class="title">witaj</h1>
            </div>
        </div>
    </section>
    <div class="container">
        <p>jestes zalogowany</p>
        <a href="{{ url_for('logout') }}" class="button is-danger">wyloguj</a>
    </div>
</body>
</html>
